@font-face{ font-family: "RobotoCondensed-Light"; src: url("RobotoCondensed-Light.ttf"); }
* { margin:0 0 0 0; padding:0 0 0 0; font-family:"RobotoCondensed-Light" !important; font-size: 12pt !important; }
a:link { text-decoration: none; color: #000; }
a:visited { color: #000; }
a:hover { font-weight: bold; }